name: Laravel CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
      - '.gitignore'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
      - '.gitignore'

jobs:
  unit-tests:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Laravel Setup (Shared)
      uses: ./.github/actions/setup-laravel
      with:
        php-version: '8.3'
        copy-env-file: '.env.ci'
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test

  e2e-tests:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Act dependencies
      if: ${{ env.ACT }}
      run: sudo apt-get update && sudo apt-get install -y libnspr4 libnss3 libatk1.0-0 libatk-bridge2.0-0 libcups2 libxkbcommon0 libxkbcommon-x11-0 libxcomposite1 libxdamage1 libxfixes3
    - name: Laravel Setup (Shared)
      uses: ./.github/actions/setup-laravel
      with:
        php-version: '8.3'
        copy-env-file: '.env.ci'
    - name: Install Chrome and ChromeDriver
      run: |
        # Install latest Chrome
        sudo apt-get update
        sudo apt-get install -y wget
        wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
        sudo apt install -y ./google-chrome-stable_current_amd64.deb
    - name:  Install the Chrome driver
      run: php artisan dusk:chrome-driver --detect
    - name: Start Chrome Driver
      run: ./vendor/laravel/dusk/bin/chromedriver-linux &
    - name: Start Laravel Server
      run: php artisan serve --no-reload &
    - name: Run Dusk Tests
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan dusk
    - name: Upload Logs
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: laravel-logs
        path: storage/logs/laravel.log
    - name: Upload Screenshots
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: screenshots
        path: tests/Browser/screenshots
    - name: Upload Console Logs
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: console
        path: tests/Browser/console
